<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Find Parrot</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css">
</head>
<body>
	<header id="header" class="header">
		<div class="container">
			<div  class="top_nav">
				<div class="row justify-content-between align-items-center">
					<div class="col-lg-auto">
						<a href="#">
							<img src="img/logo.png" alt="logo">
						</a>
					</div>
					 <div class="col-lg-6">
				                    <nav>
				                        <ul class="menu d-flex">
				                            <li class="menu__item">
				                                <a href="#products">
				                                    All products
				                                </a>
				                            </li>
				                            <li class="menu__item">
				                                <a href="#">
				                                    About us
				                                </a>
				                            </li>
				                            <li class="menu__item">
				                                <a href="#">
				                                    Log in
				                                </a>
				                            </li>
				                            <li class="menu__item">
				                                <a href="#">
				                                    Sign up
				                                </a>
				                            </li>
				                        </ul>
				                    </nav>
				                </div>
				</div>
			</div>
			<div class="search">
			<div class="row">
				<div class="col-lg-12">
					 <div class="header_title">
                        <h2 class="title__main1">
                         Quick Search for Your <span class="green">Perfect Product</span>
                        </h2>
                        <p class="title__text1">
                           INNOVATE • LIST • CONNECT
                        </p>
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					  <div class="col-lg-12 d-flex">
                    	<form action="#" class="form">
                    	
						<select name="category" class="form__select">
							<option value="1">Category</option>
              <option value="2">I</option>
              <option value="3">love</option>
              <option value="4">my</option>
              <option value="5">Dad</option>
						</select>
                        <input type="text" class="form__input" required>
                        <button type="submit" class="form__btn">START SEARCHING</button>
                    </form>
                </div>
				</div>
			</div>
			</div>
			<div class="btns row justify-content-center ">
			
					<button type="button" class="header__btn btn_content d-flex align-items-center">
						<div class="icon_btn">
							<img src="img/categ_icon.png">
						</div>
						<div class="text_btn">All categories</div>
					</button>
            <button type="button" class="header__btn btn_content d-flex align-items-center">
            <div class="icon_btn">
              <img src="img/hand_icon.png">
            </div>
            <div class="text_btn">How it works?</div>
          </button>
		
			</div>
		</div>
	</header>
	   <section id="products" class="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h2 class="title__main">
                           Most Popular Products
                        </h2>
                        <p class="title__text">
                           This is the list of products that are most interested in users
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4">
                   <a href="#"> <div class="product">
                         <div class="pr_img">
                          <img src="img/hubstaff.png" alt="hubstaff">
                        </div>
                        <h6 class="pr_title">  
                          Hubstaff Directory
                        </h6>
                     
                     </div></a>
                </div>
                <div class="col-lg-4">
                   <a href="#"> <div class="product">
                         <div class="pr_img">
                          <img src="img/jira.png" alt="jira">
                        </div>
                        <h6 class="pr_title">  
                          Jira 2017
                        </h6>
                     
                     </div></a>
                </div>
                <div class="col-lg-4">
                    <a href="#"><div class="product">
                          <div class="pr_img">
                           <img src="img/slack.png" alt="slack">
                         </div>
                         <h6 class="pr_title">  
                           Slack Pro
                         </h6>
                      
                      </div></a>
                </div>
                <div class="col-lg-4">
                  <a href="#">  <div class="product">
                        <div class="pr_img">
                         <img src="img/tracechat.png" alt="tracechat">
                       </div>
                       <h6 class="pr_title">  
                         TraceChat
                       </h6>
                    
                    </div></a>
                </div>
                <div class="col-lg-4">
                    <a href="#">
                      <div class="product">
                       <div class="pr_img">
                        <img src="img/network.png" alt="network">
                      </div>
                      <h6 class="pr_title"> 
                        Network
                      </h6>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#"><div class="product">
                          <div class="pr_img">
                           <img src="img/timecamp.png" alt="timecamp">
                         </div>
                         <h6 class="pr_title">  
                           Time Camp
                         </h6>
                      
                      </div></a>
                </div>
            </div>
            <div class="row ">
            	<div class="col-lg-12">
					<div class="pr_link">
		 				<a href="#">All products</a>
					</div>

            	</div>
            </div>
        </div>
    </section>
   <section id="review">
      <div class="sec-title">
        <div class="sec-h2">Testimonials</div>
        <div class="sec-p">What our customers told about us</div>
      </div>
     <div class="swiper">
      <div class="arrows arrow-left">
        <button>
          <img src="img/arrow_left.png" alt="">
        </button>
      </div>
        <div class="swiper-container">
       
         <div class="swiper-wrapper">
           <div class="swiper-slide">
             <div class="avatar">
               <img src="img/johnphoto-1.png">
             </div>
             <div class="review-text">
               <p>
                 I have been incredibly impressed with LinkUp team of developers. They worked hard to deliver the highest-quality product
                 possible and exceeded my expectations at every step of the way. I initially found Andriy in search of a better
                 price than what I could find locally with other development firms. But what I found - in addition to a better
               </p>
             </div>
             <div class="author">
               <span class="author-name">John Kamman</span>
               <span class="author-job">Wholesum Founder</span>
             </div>
           </div>
           <div class="swiper-slide">
             <div class="avatar">
               <img src="img/layer-11.png">
             </div>
             <div class="review-text">
               <p>
                 I have been incredibly impressed with LinkUp team of developers. They worked hard to deliver the highest-quality product
                 possible and exceeded my expectations at every step of the way. I initially found Andriy in search of a better
                 price than what I could find locally with other development firms. But what I found - in addition to a better
                 price - was a much higher-quality product as well, in every way: service, design, development, communications...etc.
                 5+++ Stars work. Great job.
               </p>
             </div>
             <div class="author">
               <span class="author-name">John Kamman</span>
               <span class="author-job">Wholesum Founder</span>
             </div>
           </div>
           <div class="swiper-slide">
             <div class="avatar">
               <img src="img/layer-12.png">
             </div>
             <div class="review-text">
               <p>
                 I have been incredibly impressed with LinkUp team of developers. They worked hard to deliver the highest-quality product
                 possible and exceeded my expectations at every step of the way.t what I found - in addition to a better
                 price - was a much higher-quality product as well, in every way: service, design, development, communications...etc.
                 5+++ Stars work. Great job.
               </p>
             </div>
             <div class="author">
               <span class="author-name">John Kamman</span>
       
               <span class="author-job">Wholesum Founder</span>
             </div>
           </div>
         </div>
       </div>
       <div class="arrows arrow-right">
        <button>
          <img src="img/arrow_right.png" alt="">
        </button>
      </div>
     </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
  <script src="js/main.js"></script>
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-center footer_logo">
              <img src="img/logo__footer.png" alt="logo">
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="footer_menu">
                 <ul class="fmenu d-flex justify-content-center">
                                    <li class="fmenu__item">
                                        <a href="#">
                                            About us
                                        </a>
                                    </li>
                                    <li class="fmenu__item">
                                        <a href="#">
                                            Terms of service
                                        </a>
                                    </li>
                                    <li class="fmenu__item">
                                        <a href="#">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li class="fmenu__item">
                                        <a href="#">
                                            Contact  us
                                        </a>
                                    </li>
                                </ul>
              </div>
            </div>
        </div>
      </div>
    </footer>
    <section class="copyright">
      <div class="container">
         <div class="row ">
            <div class="col-lg-12">
              <div class="copyright_content align-items-center">
                <p>© 2018 Find Parrot</p>
              </div>
            </div>
          </div>
        </div>
         
    </section>
</body>
</html>